@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');

html,body,h1,h2,h3,h4,h5,p,a{
    font-family: 'Sen', sans-serif!important;
}
.Title{
    position: relative;
    img{
        position: absolute;
        margin-left: -35px;
        margin-top: 3px;;
    };
}
.Dashboard{

    color: white;
    .Confirmed{
        background: #4FB1B1;
        padding: 2%;
        border-radius: 12px;
    }
    .Deaths{
        background: #e85850;
        padding: 2%;
        border-radius: 12px;
    }
    .Recovered{
        background: #50af50;
        padding: 2%;
        border-radius: 12px;
    }
    .Active{
        background: #ea9024;
        padding: 2%;
        border-radius: 12px;
    }

    p{
        font-size: 1em;
    }
}

.Chart{
    height: 300px;
    margin : 45px 0;
}

.Hotline{
    margin-top: 10%;
}

.Container{
    padding: 5% 10%;

}

.Button{
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.Status{
    animation: blink 1.2s infinite; 
}

@keyframes blink{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}

@media only screen and (max-width: 600px) {
    .Container{
        padding: 5% 0;
    
    }
}