@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');

html,body,h1,h2,h3,h4,h5,p,a{
    font-family: 'Sen', sans-serif!important;
}

.Dashboard{
    
    color: white;
    .Confirmed{
        background: teal;
        padding: 2%;
        border: 2px solid #ccc;
        border-radius: 12px;
    }
    .Deaths{
        background: red;
        padding: 2%;
        border: 2px solid #ccc;
        border-radius: 12px;
    }
    .Recovered{
        background: green;
        padding: 2%;
        border: 2px solid #ccc;
        border-radius: 12px;
    }
    .Critical{
        background: #e07a00;
        padding: 2%;
        border: 2px solid #ccc;
        border-radius: 12px;
    }

    p{
        font-size: 1em;
    }
}

.Chart{
    height: 300px;
    margin : 5% 0;
}

.Hotline{
    margin-top: 10%;
}

.Container{
    padding: 5% 10%;

}

.Button{
    border: 2px solid #ccc;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .Container{
        padding: 5% 0;
    
    }
}